@import "../common";

.CenterControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 2rem;
}

.doubleButtonBox {
  display: grid;
  grid-template-columns: auto auto;
  pointer-events: all;
  padding: 1rem;

  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  .background {
    background-color: $dark;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
  }
  &.mission {
    row-gap: 1rem;
    column-gap: 2rem;
  }
  &.vote {
    row-gap: 1rem;
    column-gap: 1rem;
    border: 2px solid $light;
  }
}

// #region Vote Buttons
.voteButton {
  border-radius: 0.5rem;
  height: 4rem;
}
// #endregion

// #region Mission Buttons
@keyframes successBackground {
  0% {
    background-color: $green;
    transform: translateY(100%);
  }
  100% {
    background-color: scale-color($green, $lightness: -20%);
    transform: translateY(0);
  }
}
@keyframes failBackground {
  0% {
    background-color: $red;
    transform: translateY(100%);
  }
  100% {
    background-color: scale-color($red, $lightness: -50%);
    transform: translateY(0);
  }
}
.missionColorBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: translateY(100%);
  &.success {
    animation: successBackground 1.5s ease-in-out;
    transform: translateY(0);
    background-color: scale-color($green, $lightness: -20%);
  }
  &.fail {
    animation: failBackground 1.5s ease-in-out;
    transform: translateY(0);
    background-color: scale-color($red, $lightness: -50%);
  }
}

.missionButton {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 1.25rem;

  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border: none;
  outline: none !important;

  &.success {
    color: $light;
    background-color: scale-color($green, $lightness: -20%);
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 1px 10px -1px $green;
    }
  }
  &.fail {
    color: $dark;
    background-color: scale-color($red, $lightness: -20%);
    &.disabled {
      background-color: scale-color($red, $lightness: -50%);
    }
    &:hover:not(.disabled) {
      transform: scale(1.1);
      box-shadow: 0px 1px 10px -1px $red;
    }
  }
}
// #endregion

.centerButtonBox {
  display: grid;
  grid-template-columns: auto;
  pointer-events: all;
  justify-items: center;
  row-gap: 0.5rem;
  padding: 1rem;
}
