@import "../common";

.ChatBox {
  height: 100%;

  display: grid;
  grid-template-rows: 1fr auto;
}

.chatWrapper {
  position: relative;
  overflow-y: scroll;
  background-color: $nav-tabs-link-active-bg;
  border-left: $nav-tabs-border-width solid $nav-tabs-border-color;
  border-right: $nav-tabs-border-width solid $nav-tabs-border-color;
}

.chat {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0.5rem;
}

.chatMessage {
  margin-bottom: 0.25rem;
}

.form {
  justify-content: stretch;
}

.input {
  flex-grow: 1;
  width: 100% !important;
}
