.GameRoomCode {
  margin-top: 1rem;
  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  pointer-events: all;
}

.label {
  margin-right: 1rem;
}

.code {
  width: 6rem !important;
}
