.TopInfoBar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  pointer-events: auto;

  padding-top: 1rem;
}

.title {
  text-align: center;
}

.progress {
  height: 10px !important;
  margin-left: 1rem;
  margin-right: 1rem;
}
