@import "../../common";

.GameInfoBox {
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.rolesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .center {
    text-align: center;
  }
}
.aboutRoles {
  color: $gray-500;
  &:hover {
    color: shift-color($gray-500, $link-shade-percentage);
  }
}

.howToPlayButton {
  margin-top: 0.5rem;
}
