@import "../../common";

.MissionIndicators {
  align-self: center;
  justify-self: right;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 2rem;

  pointer-events: auto;
  > .title {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
}

@mixin shadow($color, $size: 10px) {
  box-shadow: 0px 1px $size -1px $color;
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  margin-bottom: 1rem;
  background-color: $gray-600;
  @include shadow($gray-700);
  color: $light;
  transition: box-shadow 1s linear, transform 0.25s ease,
    background-color 1s ease;
  font-family: $font-family-monospace;
  &:hover {
    transform: scale(1.05);
  }
  &.double {
    border-radius: 5%;
  }
  &.active {
    color: $dark;
    background-color: $white;
    @include shadow($white);
  }
  &.success {
    background-color: scale-color($green, $lightness: -20%);
    @include shadow($green, 20px);
  }
  &.fail {
    color: $dark;
    background-color: scale-color($red, $lightness: -20%);
    @include shadow($red);
  }
  .label1 {
    font-size: 2rem;
    line-height: 0.75;
  }
  .label2 {
    font-size: 0.5rem;
  }
}

@keyframes pulseRed {
  0% {
    color: $red;
  }
  100% {
  }
}

.proposals {
  display: flex;
  flex-direction: column;
  align-items: center;
  .label1 {
    font-size: 2rem;
    line-height: 0.75;
    margin-bottom: 0.25rem;
  }
  .label2 {
    font-size: 0.75rem;
  }
  &.hammer {
    animation: pulseRed 1s linear 0s infinite alternate;
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 1.25rem;
  }
}
