@import "../../common";

.MissionIndicators {
  align-self: center;
  justify-self: right;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding-right: 2rem;

  pointer-events: auto;
  text-align: center;
}
.title {
  font-size: 1.25rem;
}

@mixin shadow($color, $size: 10px) {
  box-shadow: 0px 1px $size -1px $color;
}

.wrapper {
  width: 4.2rem;
  height: 4rem;
  display: flex;
  justify-content: center;
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  background-color: $gray-600;
  @include shadow($gray-700);
  color: $light;
  transition: box-shadow 1s linear, transform 0.25s ease,
    background-color 1s ease;
  font-family: $font-family-monospace;
  &:hover {
    transform: scale(1.05);
  }
  &.double {
    border-radius: 0.375rem;
  }
  &.active {
    color: $dark;
    background-color: $white;
    @include shadow($white);
  }
  &.success {
    background-color: $success;
    @include shadow($success, 20px);
  }
  &.fail {
    color: $dark;
    background-color: $fail;
    @include shadow($fail);
  }
  .label1 {
    font-size: 2rem;
  }
}

@keyframes pulseRed {
  0% {
    color: $fail;
  }
  100% {
  }
}

.proposals {
  display: flex;
  flex-direction: column;
  align-items: center;
  .label1 {
    font-size: 2rem;
    line-height: 0.75;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
  .label2 {
    font-size: 0.75rem;
  }
  &.hammer {
    animation: pulseRed 1s linear 0s infinite alternate;
  }
}

.popover.popover {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    font-size: 1.25rem;
  }
}
