.RoleInfoBox {
  padding-top: 1rem;
  padding-left: 1rem;
  pointer-events: auto;

  display: flex;
  align-items: flex-start;
  font-size: 1.5rem;
  .small {
    font-size: 1rem;
  }
  flex-direction: column;
}

.howToPlayButton {
  margin-top: 0.5rem;
}
