.TopInfoBar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  pointer-events: auto;
  gap: 0.5rem;
  padding-top: 1rem;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.progress {
  margin-left: 1rem;
  margin-right: 1rem;
}
