@import "../../common";

.HowToPlayView {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.back {
  position: fixed;
  z-index: 10;
  top: 1rem;
  left: 1rem;
  color: $gray-500;
  &:hover {
    color: shift-color($gray-500, $link-shade-percentage);
  }
}

.title {
  text-align: center;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.roles {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}

.header {
  grid-column: span 2;
  font-size: $font-size-lg;
  margin-bottom: 0;
}

.role {
  margin-bottom: 0.5rem;
  display: flex;
}
