@import "../../common";

.body {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}

.header {
  grid-column: span 2;
  font-size: $font-size-lg;
  margin-bottom: 0;
}

.role {
  margin-bottom: 0.5rem;
  display: flex;
}
