@import "../../common";

$c-red: #ea3818;
$c-orange: #e58a00;
$c-yellow: #dbbd0d;
$c-green: #5ec90c;
$c-teal: #00e07f;
$c-cyan: #17dbdb;
$c-blue: #70aaff;
$c-indigo: #a899ff;
$c-purple: #c45cff;
$c-pink: #e617a0;
$c-fail: adjust-color($red, $lightness: 10%, $saturation: 10%);
$c-success: adjust-color($green, $lightness: 10%, $saturation: 10%);

$c-colors: (
  "red": $c-red,
  "orange": $c-orange,
  "yellow": $c-yellow,
  "green": $c-green,
  "teal": $c-teal,
  "cyan": $c-cyan,
  "blue": $c-blue,
  "indigo": $c-indigo,
  "purple": $c-purple,
  "pink": $c-pink,
  "fail": $c-fail,
  "success": $c-success,
);
// Color Selectors
@each $name, $color in $c-colors {
  .#{$name} {
    color: $color;
  }
}
