@import "../../common";

.WelcomeView {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linksBox {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.25rem;
  a {
    color: $gray-500;
    &:hover {
      color: shift-color($gray-500, $link-shade-percentage);
    }
  }
}
