@import "../../common";

.InGameList {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 1.25rem;
}

.list {
  border: 1px solid $light;
  border-radius: $border-radius;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 1rem;
  text-align: left;
  align-items: center;
  button {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
}

.disconnected {
  font-size: 0.75rem;
}
