@import "../common";

.InGameList {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 1.5rem;
}

.list {
  border: 1px solid $light;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;

  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 1rem;
  text-align: left;
}

.name {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.disconnected {
  font-size: 0.75rem;
}
